.course {
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
}

.right {
    display: flex;
    flex: 1;
}

.left {
    display: flex;
    flex: 0.2;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.score {
    height: 50px;
    margin-bottom: 5px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    width: calc(100% - 40px);
    justify-content: space-between;
}

@media only screen and (max-width: 700px) {
    .course {
        height: auto;
        padding-bottom: 40px;
    }
    .title_left {
      display: none;
    }
    .content {
        flex-direction: column;
    }
    .right {
        display: inline-block;
    }
    
    .left {
        display: inline-block;
    }
}