.studentLists {
    width: 100%;
}

.studentlist_list {
    height: 250px;
    overflow-y: scroll;
    border: 1px solid black;
}

.studentList_student {
    border: 1px solid black;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
    cursor: pointer;
}

.studentList_student h5 {
    margin-top: 0px;
}

.studentList_student p {
    font-size: 10px;
    margin-top: -15px;
}